<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Streaming Options</string>
			<key>FooterText</key>
			<string>Automatic and Data Saver stream about 1 GB/hour. High Quality uses more data.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Mobile Data</string>
			<key>Key</key>
			<string>streaming.useMobileData</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Mobile Data</string>
			<key>Key</key>
			<string>streaming.mobileDataQuality</string>
			<key>DefaultValue</key>
			<string>automatic</string>
			<key>Titles</key>
			<array>
				<string>High Quality</string>
				<string>Automatic</string>
			</array>
			<key>Values</key>
			<array>
				<string>high</string>
				<string>automatic</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Wi-Fi</string>
			<key>Key</key>
			<string>streaming.wifiQuality</string>
			<key>DefaultValue</key>
			<string>high</string>
			<key>Titles</key>
			<array>
				<string>High Quality</string>
				<string>Data Saver</string>
			</array>
			<key>Values</key>
			<array>
				<string>high</string>
				<string>dataSaver</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Download Options</string>
			<key>FooterText</key>
			<string>High Quality: slower downloads, higher quality. Fast Downloads: faster downloads, lower quality. Downloads over mobile data use Fast Downloads.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Mobile Data</string>
			<key>Key</key>
			<string>downloads.useMobileData</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Wi-Fi</string>
			<key>Key</key>
			<string>downloads.quality</string>
			<key>DefaultValue</key>
			<string>fast</string>
			<key>Titles</key>
			<array>
				<string>High Quality</string>
				<string>Fast Downloads</string>
			</array>
			<key>Values</key>
			<array>
				<string>high</string>
				<string>fast</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>TEST (will be removed)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Detail Edge Effect</string>
			<key>Key</key>
			<string>test.detailEdgeEffect</string>
			<key>DefaultValue</key>
			<string>automatic</string>
			<key>Titles</key>
			<array>
				<string>automatic</string>
				<string>soft</string>
				<string>hard</string>
			</array>
			<key>Values</key>
			<array>
				<string>automatic</string>
				<string>soft</string>
				<string>hard</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
